<div style="width: 800px;">
    <table class = "table table-hover">
        <thead>
            <th scope = "col">
                Restaurantes
            </th>
            <th scope="col">
                Dirección
            </th>
            <th style="width: 100px;" scope="col">
                Teléfono
            </th>
            <th style="width: 100px;" scope="col">
                Aforo maximo
            </th>
            <th style="width: 100px;" scope="col">
                Aforo disponible
            </th>
        </thead>
        <tbody></tbody>
    </table>
</div>